* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  cursor: url("img/cursor-de-mano.cur"), auto !important;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}
.overlay-text {
  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: rgba(100, 234, 255, 0.871);
  text-shadow: 0 0 8px #2cd0f0, 0 0 2px #2cd0f0, 0 0 10px #2cd0f0,
    0 0 6px #2cd0f0, 0 0 20px #2cd0f0, 0 0 20px #2cd0f0, 0 0 1px #2cd0f0,
    0 0 12px #2cd0f0;
}
.luna {
  position: absolute;
  height: 80%;
  z-index: -1;
}
.luna img {
  height: 100vh;
  position: absolute;
}
.overlay-text-small {
  font-size: 0.3em;
}
.victory {
  display: none !important;
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: rgb(27, 37, 39);
}
.victory.visible {
  display: flex !important;
  flex-direction: column;
}
.startok {
  cursor: pointer;
  margin-bottom: 23vh;
  font-size: 20px;
  margin-right: 6vb;
}
.prediccion {
  justify-content: center;
  align-items: center;
  width: 40rem;
  
  border-radius: 15px;
  background-image: url(./img/Daco_41737.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 2;
  animation: showPrediction 3s ease-in-out forwards;
  overflow: hidden;
}
@keyframes showPrediction {
  0% {
    height: 0;
    width: 0;
    font-size: 0;
  }
  100% {
    height: 25rem;
    width: 80vw;
    font-size: 1rem;
  }
}
#prediction-text {
  opacity: 0; 
  animation: revealPrediction 3s ease-in-out forwards;
}
@keyframes revealPrediction {
  90% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}
.btn {
  opacity: 0; 
  animation: showButton 4s ease-in-out forwards; 
}

@keyframes showButton {
  90% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}
p {
  margin-top: 1.5rem;
 margin: 5px;

}
h1 {
  font-family: "Paprika", system-ui;
}
.prediccion p {
  font-weight: bold; 
  padding: 0 5rem;
  font-family: "Paprika", system-ui;
}
.btn {
  position: relative;
  width: 13rem;
  height: 30px;
  margin: 10px;
  margin-left: 40%;
  margin-top: 7rem;
}
.btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.btn:hover a {
  letter-spacing: 3px;
}
.btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}
.btn:hover a::before {
  transform: skewX(45deg) translateX(200%);
}
.btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #2cd0f0;
  box-shadow: 0 0 5px #2cd0f0, 0 0 15px #2cd0f0, 0 0 30px #2cd0f0,
    0 0 60px #2cd0f0;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #2cd0f0;
  box-shadow: 0 0 5px #2cd0f0, 0 0 15px #2cd0f0, 0 0 30px #2cd0f0,
    0 0 60px #2cd0f0;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
h1 {
  margin-top: 1rem;
}
.overlay-text.visible {
  display: flex !important;
  flex-direction: column;
  animation: overlay-grow 600ms forwards;
}
a {
  text-decoration: none;
  font-size: large;
}
@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(167, 165, 165, 0.755);
    background-image: url(./img/pngwing.com.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: magia 900ms forwards;
    font-size: 4em;
  }
}
.magia {
  height: 500px;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: end;
  padding-bottom: 5vh;
  padding-left: 15vw;
  margin-left: 10vw;
  perspective: 1000px;
}
.card {
  position: relative;
  border-radius: 15px;
  height: 300px;
  width: 190px;
  cursor: pointer;
  margin-left: -10em;
}
.card-face {
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: transform 1500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}
.card.visible .card-front {
  transform: rotateY(0);
  transform: translateY(-110%);
}
.card-front {
  transform: rotateY(180deg);
  padding: 15px;
}
.card img {
  border-radius: 15px;
  width: 100%;
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.6);
}
.card.visible:hover {
  transform: translateY(0);
  box-shadow: none;
}
.container div {
  display: flex;
}

@media (max-width: 590px) {
  .container {
    flex-wrap: nowrap;
  }
  .card {
    height: 11rem;
    width: 9rem;
    position: relative;
  }
  .prediccion p {
    font-size: 15px;
    margin-top: 0;
    padding: 0;
  }
  .btn {
    margin-top: 1rem;
    margin-left: 25%;
  }
  .startok{
    margin-right: 5vb;
    margin-bottom: 15vh;
  }
  @keyframes showPrediction {
    0% {
      height: 0;
      width: 0;
      font-size: 0;
    }
    100% {
      height: 25rem;
      width: 85vw;
      font-size: 1rem;
    }
  }
}
